#nav {
    padding-right: 20px;
    background-color: brown;
}
div.topRoute {
  text-align: center;
  padding: 1%;
}
div.bottomContent {
  outline-color: cornflowerblue;
}

botton{
  padding: 10px;
  margin-left: 10px;
  background-color: aqua;
}
